[alias]
  a = add
  s = status
  b = branch
  br = branch
  c = checkout
  co = checkout
  cb = checkout -b
  d = diff
  df = diff
  ds = diff --stat
  dc = diff --cached
  f = fetch --prune
  k = cherry-pick
  p = push
  dcs = diff --cached --stat
  cm = commit -m
  pm = pull
  pr = pull --rebase
  hard = reset --hard
  soft = reset --soft
  all = !git-all
  amend = !git-amend
[user]
  email = tmat@umich.edu
  name = Thomas Mathew
[grep]
  lineNumber = true
[pull]
  rebase = true
